/node_modules
/public/hot
/public/storage
/public/images/cardlets
/storage/*.key
/vendor
vendor.zip
Procfile
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
